ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

h1 {
    font-family: 'Special Elite', cursive;
    color: #365581;
    font-size: 26px;
    font-weight: 600;
}

h2 {
    font-family: 'Inter', sans-serif; 
    font-size: 12px;
}

h3 {
    font-family: 'Special Elite', cursive;
    color: #365581;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
}

h4 {
    font-family: 'Special Elite', cursive;
    color: #303030;
    font-size: 30px;
    text-align: center;
}

p {
    font-family: 'Inter', sans-serif; 
    font-size: 18px;
    line-height: 28px;
}

strong {
    font-weight: 800;
    font-family: 'Special Elite', cursive;
    color: #365581;
    font-size: 25px;
}

a {
    font-family: 'Inter', sans-serif;
}

header {
    overflow: hidden;
    background-color: #fff;
    padding: 20px 10px;
    z-index: 1;
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header a {
    color: black;
    padding: 12px 26px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    white-space: nowrap;
}

.flex {
  display: flex;
}

/*------------ Categorie eins -------------*/

.categorie {
    width: 100%;
    text-align: center;
}

header a.categorieeins:hover {
    color: black;
    background-image: url(../img/Fuss-02.svg);
    background-size: 100% 100%;
}

header a.categorieeins.active {
    color: #365581;
    background-image: url(../img/Fuss-02.svg);
    background-size: 100% 100%;
}

/*------------ Categorie zwei -------------*/

header a.categoriezwei:hover {
    color: black;
    background-image: url(../img/Fuss-01.svg);
    background-size: 100% 100%;
}

header a.categoriezwei.active {
    color: #365581;
    background-image: url(../img/Fuss-01.svg);
    background-size: 100% 100%;
}

/*------------------ Navigation & Bild -----------------*/

.logo {
    padding-top: 17px;
}

.topnav .icon {
    display: none;
}

.topnav {
    display: flex;
    align-items: center;
}

.headerImg1 {
    background-image: url(../img/Header/Header2.jpg);
}

.headerImg2 {
  background-image: url(../img/Header/Original.jpg);
}

.headerImg3 {
  background-image: url(../img/Header/Header1.jpg);
}

.headerImg4 {
  background-image: url(../img/Header/Header4.jpg);
}

.headerImg5 {
  background-image: url(../img/Header/Header20_2.jpg);
  background-position: center!important;
}

.headerImg6 {
  background-image: url(../img/Header/Header13.jpg);
}

.headerImg7 {
  background-image: url(../img/Header/Header9.jpg);
}

.header {
  width: 100%;
  height: 1000px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

.shadowHeader {
    -webkit-box-shadow: 0px 8px 16px -4px rgba(48,48,48,0.9);
       -moz-box-shadow: 0px 8px 16px -4px rgba(48,48,48,0.9);
            box-shadow: 0px 8px 16px -4px rgba(48,48,48,0.9);
}

.container {
    margin: 0 200px;
}

.container_kontakt {
    margin: 0 500px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  width: 500px;
  height: 200px;
  background-image: url(../img/Fuss-01.svg);
  background-size: 100% 100%;
  cursor: pointer;
}

.containerButton:hover {
    background-image: url(../img/Fuss-01_blau.svg);
}

.containerButton a {
    font-family: 'Special Elite', cursive;
    color: #365581;
    font-size: 50px;
    font-weight: 500;
}

/*--------------------- Cards ----------------------*/

.Text {
    margin-bottom: 100px;
}

.cards {
    display: flex;
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.cardTitle {
    justify-content: center;
    align-content: center;
}

.card {
    padding: 2px 16px;
}

li {
    list-style-type: disc;
}

.listebild {
    padding: 20px 40px;
    border-bottom: 1px solid #365581;
    border-left: 1px solid #365581;
    border-right: 1px solid #365581;
    border-radius: 0px 0px 5px 5px;
    max-width: 210px;
    margin: 0 10px;
    height: 280px;
}

.list {
  padding: 0 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.list_container {
  display: flex; 
  margin-bottom: 15px;
}

/*----------------- flip card ------------------*/

  .cards_item {
    display: flex;
    padding: 1rem;
    justify-content: center;
  }
  
  .card_image {
    position: relative;
  }
  
  .card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ------------- card Community ------------- */

  .card_community_border {
    border: 3px solid #F57FC1;
  }

  .card_community {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 0.25rem;
    background-color: #F57FC1;
    font-size: 18px;
    font-weight: 700;
  }

  .card_community_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 0.25rem;
    background-color: #F57FC1;
    margin-right: 10px;
  }
  
  .card_community span {
    font-size: 12px;
    margin-top: -2px;
  }

  /* ------------- card tools ------------- */

  .card_tools_border {
    border: 3px solid #365581;
  }

  .card_tools {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 0.25rem;
    background-color: #365581;
    font-size: 18px;
    font-weight: 700;
  }

  .card_tools_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 0.25rem;
    background-color: #365581;
    margin-right: 10px;
  }
  
  .card_tools span {
    font-size: 12px;
    margin-top: -2px;
  }

  .fa {
    color: white;
  }

  /* ------------- card work ------------- */

  .card_work_border {
    border: 3px solid #3BA836;
  }

  .card_work {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 0.25rem;
    background-color: #3BA836;
    font-size: 18px;
    font-weight: 700;
  }

  .card_work_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 0.25rem;
    background-color: #3BA836;
    margin-right: 10px;
  }

  .card_work span {
    font-size: 12px;
    margin-top: -2px;
  }

/* ------------- end ------------- */

  .cardnew {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .maxwidth {
    width: 300px;
  }
  
  .card_content {
    position: relative;
    padding: 16px 12px 32px 24px;
    margin: 16px 8px 8px 0;
  }
  
  .card_content::-webkit-scrollbar {
    width: 8px;
  }
  
  .card_content::-webkit-scrollbar-track {
    box-shadow: 0;
    border-radius: 0;
  }
  
  .card_content::-webkit-scrollbar-thumb {
    background: #365581;
    border-radius: 15px;
  }
  
  .card_title {
    position: relative;
    margin: 0 0 24px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  
  .card_title::after {
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #365581;
    content: "";
  }
  
  hr {
    margin: 24px auto;
    width: 50px;
    border-top: 2px solid #365581;
  }
  
  .card_text p {
    margin: 0 0 24px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .card_text p:last-child {
    margin: 0;
  }

  ul {
    display: block;
    padding-left: 15px;
  }
  
  ul li {
    display: block;
    position: relative;
  }
  
  ul li:not(:last-child) {
    margin-bottom: 16px;
  }
  
  ul li:before {
    content: "";
    position: absolute;
    top: 1.2em;
    left: -20px;
    margin-top: -.9em;
    background: #B1CBF0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  

/*--------------------- Testimonial -----------------------*/
blockquote {
    font-family: 'Special Elite', cursive;
    color: #3f3f5a;
	font-weight: 100;
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: url(../img/Fuss-01_blau_hoch.svg);
	left: -5rem;
	top: -2rem;
}

blockquote:after {
	content: url(../img/Fuss-01_blau_hoch2.svg);
	right: -5rem;
	bottom: 1rem;
}
cite {
	line-height: 3;
	text-align: left;
    font-family: 'Inter', sans-serif; 
    font-size: 14px;
}

/* ---------------- Footer ----------------*/

.Line {
    background-color: #365581;
    width: 100%;
    height: 5px;
}

footer {
    background-color: #B1CBF0;
    display: flex;
    justify-content: center;
    padding: 80px 0;
    gap: 250px;
    flex-wrap: wrap;
}

.FooterText {
    align-items: center;
}

/* ---------------- IMG ----------------*/

.imgMarianne {
  margin-left: 50px;
}

.imgMarianne img {
  border-radius: 4px;
}

.kontaktformular_selbst {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------------- media ----------------*/
@media screen and (max-width: 1400px) {
    .card {
        display: flex;
        flex-direction: row;
    }

    .listebild {
        border: 1px solid #365581;
        border-radius: 5px;
        width: 500px;
    }

    .cards {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 790px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 790px) {
    header a {
        text-align: left;
    }
    .header-right {
        float: none;
    }
    .container {
        margin: 50px;
    }
    footer {
        gap: 100px;
    }

    .logo {
        width: 50%;
    }

    .topnav.responsive {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .topnav.responsive .icon {
      position: absolute;
      right: 10px;
      top: 35px;
    }

    .topnav {
        display: flex;
        align-items: center;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    header {
        display: flex;
        flex-wrap: wrap;
    }

    .flex {
      flex-direction: column;
    }

    .imgMarianne {
      margin-left: 0;
    }

    .header {
      height: 500px;
    }

    .list_container {
      flex-direction: column;
      align-items: flex-start;
    }

    .list {
      padding-bottom: 10px;
    }
}

@media (max-width: 750px) {
    .cards {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
    }

    .listebild {
        border-top: none;
        border-radius: 0px 0px 5px 5px;
    }

    .flex {
      flex-direction: column;
    }

    .imgMarianne {
      margin-left: 0;
    }

    .header {
      height: 500px;
    }

    .list_container {
      flex-direction: column;
      align-items: flex-start;
    }

    .list {
      padding-bottom: 10px;
    }
}
